:root{
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
  }
  body{
      background-color: rgb(207, 202, 219);
  }

  main{
      display: grid;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100vh;
  }

.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "daniel daniel jonathan kira"      
                        "jeanette patrick patrick kira";
    gap: 20px;
   
}

.daniel{
    background-color: var(--Moderate-violet);
    grid-area: daniel;
    padding: 35px;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.jonathan{
    background-color: var(--Very-dark-grayish-blue);
    grid-area: jonathan;
    padding: 35px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.kira{
    background-color: var(--White);
    grid-area: kira;
    padding: 35px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.jeanette{
    background-color: var(--White);
    grid-area: jeanette;
    padding: 35px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.patrick{
    background-color: var(--Very-dark-blackish-blue);
    grid-area: patrick;
    padding: 35px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


.body .profile-img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
    grid-area: image;
}



.profile{
    display: flex;
}

.h4{
    margin-left: 8px;
}

.name{
    margin-top:5px;
}
.verified{
    margin-top: 6px;
}

.h4 .name.w{
    color: rgb(240, 233, 233);
}

.h4 .verified.w{
    color: rgba(255,255,255,0.7);
}

.h4 .name.b{
    color: rgba(3, 3, 48, 0.9);
}

.h4 .verified.b{
    color: rgba(3, 3, 48, 0.7);
}

.body .top-w{
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
}

.body .bottom-w{
    color: rgba(255,255,255,0.7);
    margin-top: 15px;
   line-height: 20px;
}

.body .top-b{
    color: var(--Very-dark-blackish-blue);
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
}

.body .bottom-b{
    color: rgba(3, 3, 48, 0.7);
    margin-top: 15px;
    line-height: 20px;
}


@media (max-width:768px){

    main{
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr ;      
        grid-template-areas: "daniel daniel daniel daniel"
                             "jonathan jonathan jonathan jonathan"
                             "kira kira kira kira"
                             "jeanette jeanette jeanette jeanette"
                             "patrick patrick patrick patrick";
    }

    .daniel{
        grid-area: daniel;
        padding: 10px;
    }

    .jonathan{
        grid-area: jonathan;
        padding: 10px;
    }

    .kira{
        grid-area: kira;
        padding: 10px;
    }

    .jeanette{
        grid-area: jeanette;
        padding: 10px;
    }

    .patrick{
        grid-area: patrick;
        padding: 10px;
    }

  
}




    